<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
    <link rel="stylesheet" href="/static/createaccount.css">
</head>
<body>
    <div class="box">
        <h1>Create Account</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            <section class="section">
                {{ form.username.label(class_="label") }}: {{ form.username(class_="textfield")}}<br>
            </section>
            <section class="section">
                {{ form.password.label(class_="label") }}: {{ form.password(class_="textfield") }}<br>
            </section>
            <section class="section">
                {{ form.confirmPassword.label(class_="label") }}: {{ form.confirmPassword(class_="textfield") }}<br>{{ form.submit(class_="button1") }}
            </section>
        </form>
    </div>
</body>
</html>