 <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/static/home.css">
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <div class="buttons">
      <button class="button1" type="button" name="button" onclick="window.location.href = '{{url_for('home_page.createaccount')}}'">Create Account</button><br>
      <button class="button2" type="button" name="button" onclick="window.location.href = '{{url_for('home_page.login')}}'">Login</button>
    </div>
  </body>
</html>