 <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/static/home.css">
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <section class="navBar">
        <a href="">
                <img class="homeicon" width="50" src="/static/simple-house-thin.svg" alt="home">
        </a>
        <div class="buttons">
            <a href="">
                <img class="profileIcon" width="30" src="/static/circle.svg" alt="home">
            </a>
            <button class="button1" type="button" name="button" onclick="window.location.href = '{{url_for('home_page.createaccount')}}'">Create Account</button><br>
            <button class="button1" type="button" name="button" onclick="window.location.href = '{{url_for('home_page.login')}}'">Login</button>
        </div>
    </section>
    <section class="bodySection">
        <h1 class="listingHeading">Top listings</h1>
        <section class="listingSection">
            <div class="items">
                <a href="">
                 <img src="/static/macbook.jpg" alt="item" class="itemImage">
                </a>
            </div>
            <div class="items">
                <a href="">
                 <img src="/static/macbook.jpg" alt="item" class="itemImage">
                </a>
            </div>
            <div class="items">
                <a href="">
                 <img src="/static/macbook.jpg" alt="item" class="itemImage">
                </a>
            </div>
        </section>
    </section>
  </body>
</html>