<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Login </title>
      <link rel="stylesheet" href="/static/login.css">
  </head>
  <body>


{#  navBar#}
    <section class="navBar">
        <a href={{url_for('home_page.home')}}>
                <img class="homeicon" width="50" src="/static/simple-house-thin.svg" alt="home">
        </a>
        <div class="buttons">
            <a href="">
                <img class="profileIcon" width="30" src="/static/circle.svg" alt="home">
            </a>
            <button class="button1" type="button" name="button" onclick="window.location.href = '{{url_for('home_page.createaccount')}}'">Create Account</button><br>
            <button class="button1" type="button" name="button" onclick="window.location.href = '{{url_for('home_page.login')}}'">Login</button>
        </div>
    </section>


{#form#}
    <div class="box">
        <h1>Login</h1>
    <section class="section1">
        {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}
    </section>
    <form method="POST">
      {{ form.hidden_tag() }}
      <section class="section">
          {{ form.username.label(class_="label") }}: {{ form.username(class_="textfield")}}<br>
      </section>
      <section class="section">
          {{ form.password.label(class_="label") }}: {{ form.password(class_="textfield") }}<br>
      </section>
        <section class="section">
            {{ form.remember_me.label(class_="label") }}: {{ form.remember_me(class_="check") }}<br>
        </section>
        {{ form.submit(class_="button") }}
    </form>
    </div>
  </body>
</html>